{{>nav}}
<div class="group-page">
  {{!-- <!-- Header Section -->
  <header class="group-header">
    <h1>Your Group</h1>
    <button class="menu-btn">☰</button>
  </header> --}}

  {{!-- <!-- Dynamic Profile Pictures -->
  <div class="profile-container" id="profileContainer">
    <!-- Profiles will be added here dynamically -->
  </div> --}}

  <!-- Navigation Buttons -->
    <div class="left-column">
      <button class="group-btn task-list" onclick="window.location.href='/tasks'">Task List</button>
      <button class="group-btn leaderboard" onclick="window.location.href='/leaderboard'">Leaderboard</button>
    </div>
    
    <div class="right-column">
      <button class="group-btn group-calendar" >Group Calendar</button>
      <button class="group-btn weekly-roundup" >Weekly Roundup</button>
    </div>
    <div class="remind-container">
      <button class="group-btn remind">Remind</button>
    </div>
</div>
