<table>
            <thead>
              <tr>
                  <th>Username</th>
                  <th>Karma</th>
              </tr>
            </thead>

            <tbody>

                {{#each users}}
                <tr>
                    <td>{{username}} </td>
                    <td>{{high_score}}</td>
                {{/each}}
           
            </tbody>

</table>