<table>
            <thead>
              <tr>
                  <th>Username</th>
                  <th>Easy High Score</th>
                  <th>Medium High Score</th>
                  <th>Hard High Score</th>
              </tr>
            </thead>

            <tbody>

                {{#each users}}
                <tr>
                    <td>{{username}} </td>
                    <td>{{easy_high_score}}</td>
                    <td>{{medium_high_score}}</td>
                    <td>{{hard_high_score}}</td>
                </tr>

                
                {{/each}}
           
            </tbody>

</table>