
<body>
  <h1>Select Theme</h1>
  <div class="button-group" id="theme-buttons">
    <button type="button" class="btn btn-secondary" onclick="setTheme('Light')">Light Theme</button>
    <button type="button" class="btn btn-dark" onclick="setTheme('Dark')">Dark Theme</button>
  </div>

  <!-- Logout Button -->
    <div class="text-left mt-5">
      <a href="/logout" class="btn btn-danger">Logout</a>
    </div>


  <script src="/js/script.js"></script>
</body>

