{{!-- <main class="welcome-page">
    <div class="welcome-container">
        <img src="/img/welcome-page.svg" alt="Welcome Page" class="welcome-image">
        <h1>Welcome to The Roommate App</h1>
        <p>Stay organized with your roommates. Manage tasks, track scores, and make living together easy.</p>

        <div class="button-container">
            <a href="/register" class="btn btn-register">Register</a>
            <a href="/login" class="btn btn-login">Login</a>
        </div>
    </div>
</main>
 --}}

{{!-- <main class="welcome-page">
    <div class="welcome-container">
        <h1>Welcome to The Roommate App test</h1>
        <p>Stay organized with your roommates. Manage tasks, track scores, and make living together easy.</p>

        <div class="button-container">
            <a href="/register" class="btn btn-register">Register</a>
            <a href="/login" class="btn btn-login">Login</a>
        </div>
    </div>
</main> --}}


{{!-- <div class="welcome-page">
  <img src="/img/welcome-page.svg" class="full-image" alt="Welcome Page">

  <div class="overlay-content">
    <button class="create-account">CREATE ACCOUNT</button>
    <button class="sign-in">SIGN IN</button>
  </div>
</div> --}}

<div class="container text-center">
    <div class="overlay-content">
        <h1 class="text-light">Welcome to Spruce!</h1>
        <p class="text-light">Manage your group tasks easily.</p>

        <button class="btn create-account">Create Account</button>
        <button class="btn sign-in">Sign In</button>
    </div>
</div>






