<div class="container text-center">
    <div class="overlay-content">
        <h1 class="text-light">Welcome to Spruce!</h1>
        <p class="text-light">Manage your group tasks easily.</p>

        <a href="/register" class="btn create-account">Create Account</a>
        <a href="/login" class="btn sign-in">Sign In</a>
    </div>
</div>






